<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="./dashboard.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>

<body>
    <div class="sidemenu">
        <div class="WebappLogo">
          <img src="logo.png" alt="WebappLogo">
        </div>
        
        <ul class="Menu">
          <li><a href="#">Dashboard <i class='bx bx-home'></i></a></li>
          <li><a href="#">Konti <i class='bx bxs-user-account' ></i></a></li>
          <li><a href="#">Porteføljer <i class='bx bxs-doughnut-chart' ></i></a></li>
        </ul>

      </div>
      
</body>
</html> 