<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="./dashboard.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>

<body>

  <!-- Sidemenu -->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="logo.jpeg" alt="WebappLogo">
    </div>

    <button class="pil" onclick="skiftMenu()"> <!-- Når man trykker på pilen, udløser det funktionen under -->
      <i class='bx bxs-chevron-left'></i>
    </button>

    <ul class="menuValg">
      <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a href="/konti"><i class='bx bxs-user-account'></i>Konti</a>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

    <ul class="logUd">
      <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
    </ul>
    
  </div>

  <!-- Indhold -->
  <div class="indhold">
    <h1>Dashboard</h1>

    <!-- Øverste boksrække -->
    <div class="øvreBoks">
      <div class="mindreBoks">Total værdi</div>
      <div class="mindreBoks">Total Realiseret Gevinst</div>
      <div class="mindreBoks">Total Urealiseret Gevinst</div>
    </div>

    <!-- Grafboks -->
    <div class="grafBoks">
      <h3>Samlet Værdi</h3>
      <p>Graf kommer her</p>
    </div>

    <!-- Nederste bokse -->
    <div class="nedreBoks">
      <div class="lilleBoks">Top 5 værdipapirer baseret på værdi</div>
      <div class="lilleBoks">Top 5 værdipapirer baseret på profit</div>
    </div>
  </div>

  <!-- Script til at åbne/lukke sidemenu -->
  <script>
    const sidemenu = document.querySelector('.sidemenu');
    function skiftMenu() {
      sidemenu.classList.toggle('lukket');
    }
    // Når knappen trykkes på, udløser det denne funktion som kalder på sidemenu 'lukket',
    // hvilket altså gør, at sidemenuen forsvinder.

  </script>

</body>
</html>
