<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil indstillinger</title>
    <link href="./indstillinger.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>



<body>
  <h1>Profil indstillinger</h1>
  
  <!-- Sidemenu -->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="logo.jpeg" alt="WebappLogo">
    </div>
    
    
      <button class="pil" onclick="skiftMenu()"> <!-- Når man trykker på pilen, udløser det funktionen under -->
        <i class='bx bxs-chevron-left'></i>
      </button>
  
      <ul class="menuValg">
        <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
        <li><a href="/konti"><i class='bx bxs-user-account'></i>Konti</a></li>
        <li><a href="/portefoljer"><i class='bx bxs-doughnut-chart'></i>Porteføljer</a></li>
        <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
      </ul>
  
      <ul class="logUd">
        <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
      </ul>
    </div>
    
      <!-- Knap til at ændre adgangskode -->
    <button class="skiftAdgangskodeKnap" onclick="toggleForm()">Skift adgangskode</button>

    <!-- Formular til at ændre adgangskode -->
    <div class="skiftAdgangskode-form" id="adgangskodeForm">
        <h2>Skift adgangskode</h2>
        <form action="/submit-adgangskode" method="POST">
            <input type="text" placeholder="Gammel adgangskode" name="gammelAdgangskode" required>
            <input type="text" placeholder="Ny adgangskode" name="nyAdgangskode" required>
            <button type="submit">Opdater Adgangskode</button>
        </form>
    </div>

      <!-- Script til at åbne/lukke sidemenu -->
      <script>
        const sidemenu = document.querySelector('.sidemenu');
        function skiftMenu() {
          sidemenu.classList.toggle('lukket');
        }
        // Når knappen trykkes på, udløser det denne funktion som kalder på sidemenu 'lukket',
        // hvilket altså gør, at sidemenuen forsvinder.
        
        // Funktion til at udfolde/skjule formularen
        function toggleForm() {
            const form = document.getElementById('adgangskodeForm');
            form.style.display = form.style.display === 'block' ? 'none' : 'block';
        }
    </script>
  
</body>
  
</html>