<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indsæt Værdi</title>
  <link href="./indsætVærdi.css" rel="stylesheet">
</head>

<body>
  <div class="opretKonto">
    <h1>Indsæt værdi på konto</h1>

    <form action="/indsætVærdi" method="POST"> <!-- Definerer hvilken rute formularen sendes til -->
      <div class="opretBox">
        <input type="number" placeholder="Mængde af indsættelsesværdi" name="værdi" required>
      </div>

      <div class="opretBox">
        <input type="text" placeholder="Valuta" name="valuta" required>
      </div>

      <button id="sendFormular" type="submit">Indsæt</button>
    </form>
  </div>
</body>
</html>
