<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indsæt Værdi</title>
  <link href="/insertValue.css" rel="stylesheet">
</head>

<body>
  <div class="opretInsert">
    <h1>Indsæt værdi på <br> <%=konto.kontonavn %> </h1> <!--overskrift der viser hvilken konto man indsætter værdi på dynamisk-->

    <form action="/konto/insert" method="POST"> <!--definere ruten formularen skal sendes til som en POST-->
  
<<<<<<< Updated upstream
      <input type="hidden" name="kontoID" value="<%= konto.kontoID %>"> <!--Skjult inputfelt, sender konto ID med så serveren ved hvilken konto der skal opdateres-->
=======
      <input type="hidden" name="kontoID" value="<%= konto.kontoID %>">
      <!--Skjult inputfelt, sender konto ID med så serveren ved hvilken konto der skal opdateres-->
>>>>>>> Stashed changes

      <div class="opretBox">
        <input type="number" placeholder="Beløb" name="beløb" required>
      </div>

      <div class="opretBox">
        <input type="text" placeholder="Valuta" name="valuta" required>
      </div>

      <button id="sendFormular" type="submit">Indsæt</button>
    </form>
  </div>
</body>
</html>
