<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./konti.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <title>Konto</title>
</head>
<body>

<h1>Konti</h1>

    <!-- Sidemenu -->
   <div class="sidemenu">
    <div class="WebappLogo">
      <img src="logo.jpeg" alt="WebappLogo">
    </div>

    <button class="pil" onclick="skiftMenu()"> <!-- Når man trykker på pilen, udløser det funktionen under -->
      <i class='bx bxs-chevron-left'></i>
    </button>

    <ul class="menuValg">
      <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a href="/konti"><i class='bx bxs-user-account'></i>Konti</a>
      <li><a href="/portefoljeOversigt"><i class='bx bx-doughnut-chart'></i>Porteføljer</a></li>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

    <ul class="logUd">
      <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
    </ul>
  </div>

  <script>
    const sidemenu = document.querySelector('.sidemenu');
    function skiftMenu() {
      sidemenu.classList.toggle('lukket');
    }
    // Når knappen trykkes på, udløser det denne funktion som kalder på sidemenu 'lukket',
    // hvilket altså gør, at sidemenuen forsvinder.
  </script>

<!-- Indhold på siden-->
<div class="tilføjKnapBox">
    <a href="/tilfojKonto" class="tilføjKnap">Opret ny konto</a>
  </div> 







</body>
</html>