<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Konti</title>
  <link href="./konti.css" rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!--ejs til sidemenu-->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="logo.jpeg" alt="WebappLogo" />
    </div>

    <button class="pil" onclick="skiftMenu()">
      <i class="bx bxs-chevron-left"></i>
    </button>

    <ul>
      <li><a href="/dashboard"><i class="bx bx-home"></i>Dashboard</a></li>
      <li><a href="/konti"><i class="bx bxs-user-account"></i>Konti</a>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

    <ul class="logUd">
      <li><a href="/login"><i class="bx bx-log-out"></i>Log ud</a></li>
    </ul>
  </div>

  <div class="indhold">
    <h1 class="overskrift">Portefølje og konti oversigt</h1>
    
    <!--Knapper-->
    <div class="knapBox">
        <div class="dropdown">
          <a href="#" class="knap" onclick="toggleKontoMenu()">Vælg konto</a>
          <div id="kontoMenu" class="dropdownSkjult">
            <a href="/konti" class="dropdownVælg">Grund konto</a>
          </div>
        </div>

      <!--Tilføj konto-->
        <a href="/tilfojKonto" class="knap">Tilføj konto</a>
      
      <!--Vælg portefølje-->
        <div class="dropdown">
          <a href="#" class="knap" onclick="togglePortefoljeMenu()">Vælg portefølje</a>
          <div id="portefoljeMenu" class="dropdownSkjult">
            <a href="/portefoljer" class="dropdownVælg">Grund portefølje</a>
          </div>
        </div>

      <!--Tilføj portefølje-->
        <a href="/opretportefolje" class="knap">Tilføj portefølje</a>

        <a href="#" class="knap">Se saldo</a>
  </div>      

    <div class="øversteIndhold">
      <div class="venstreSide">
        <div class="venstreØvreBoks">Total værdi i DKK</div>

        <div class="ændringer">
          <span>Ændring i 24 timer:</span>
          <span>Ændring i 7 dage:</span>
          <span>Ændring i 30 dage:</span>
        </div>
      </div>

      <div class="højreØvreBoks">
        <h3>Fordeling af værdi i porteføljer</h3>
        <p>diagram kommer</p>
      </div>
    </div>
 
    <div class="oversigtBoks">
      <h3>Portefølje Navn - Oversigt</h3>
      <p>tabel og porteføljer kommer</p>
    </div>
  </div>

  <script>
    const sidemenu = document.querySelector('.sidemenu');
    function skiftMenu() {
      sidemenu.classList.toggle('lukket');
    }
  
    function toggleKontoMenu() {
      const menu = document.getElementById('kontoMenu');
      menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    }

    function togglePortefoljeMenu() {
      const menu = document.getElementById('portefoljeMenu');
      menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
}

  </script>
</body>
</html>
