<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konti</title>
    <link href="./konti.css" rel="stylesheet">
</head>
<body>
    <div class="sidemenu">
        <div class="WebappLogo">
          <img src="logo.png" alt="WebappLogo">
        </div>
        
        <ul class="Menu">
          <li><a href="/dashboard">Dashboard <i class='bx bx-home'></i></a></li>
          <li><a href="/konti" class="active">Konti <i class='bx bxs-user-account' ></i></a></li>
          <li><a href="/portefoljer">Porteføljer <i class='bx bxs-doughnut-chart' ></i></a></li>
        </ul>
      </div>


      <div class="indhold">
        <h1>Portefølje oversigt</h1>

        <div class="øversteIndhold">
          <div class="venstreØvreBoks">Total værdi i DKK</div>
          <div class="venstreØvreBoks">
            <span>Ændring i 24 timer:</span>
            <span>Ændring i 7 dage:</span>
            <span>Ændring i 30 dage:</span>
          </div>

          <div class="højreØvreBoks">
            <h3>Fordeling af værdi i porteføljer</h3>
            <p>diagram kommer</p>
          </div>
        </div>

        <div class="oversigtBoks">
          <h3>Portefølje Navn - Oversigt</h3>
          <p>tabel og porteføljer kommer</p>
        </div>
      </div>
    
</body>
</html>