

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logind</title>
    <link href="./logind.css" rel="stylesheet">
   
 </head>
 <body>
   <div class="logindBox">
     <h2>Log ind</h2>
     <form action="/login" method="POST"> <!--definere hvilken rute formularen skal sendes til-->
         <label for="brugernavn">Brugernavn:</label>
         <input type="text" id="brugernavn" name="brugernavn" required>
         <br>
         <br>
         <label for="adgangskode">Adgangskode:</label>
         <input type="text" id="adgangskode" name="adgangskode" required>
         <br>
         <br>
         <button type="submit">Log ind</button>
     </form>
    <br>
    <p>Eller <a href="/opretbruger">Opret Bruger</a></p>

   </class>
   
   <img src="logo.png" alt="WebappLogo">

 </body>
 </html>