<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret nyt portefølje</title>
    <link href="./opretPortefolje.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="opretPortefølje">
        <h1>Opret ny portefølje</h1>
        <form action="/opretPortefolje" method="POST"> <!--definere hvilken rute formularen skal sendes til-->
           
           <div class="opretBox">
              <input type="text" placeholder="Portefølje navn" name="navn" required>
           </div>
           
           <div class="opretBox">
              <input type="text" placeholder="Kontotilknytning" name="kontoTilknytning" required>
              <box-icon type='solid' name='bank'></box-icon>
           </div>
     
           <div class="opretBox">
              <input type="number" placeholder="Forventet værdi" name="forventetVærdi" required>
           </div>
    
           <button id="sendFormular" type="submit">Opret</button>
           <br>

        </form>
     </div>
</body>
</html>