<!-- installere ejs ved at skrive install ejs terminalen-->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/opretbruger" method="POST"> <!--definere hvilken rute formularen skal sendes til-->
       <label for="opretbrugernavn">Opret brugernavn</label>
       <input type="text" id="opretbrugernavn" name="opretbrugernavn">
       <br>
       <br>
       <label for="opretadgangskode">Opret adgangskode</label>
       <input type="text" id="opretadgangskode" name="opretadgangskode">
       <br>
       <br>
       <label for="e-mail">Indtast e-mail</label>
       <input type="text" id="e-mail" name="e-mail">
       <br>
       <br>
       <label for="fødselsdag">Angiv fødselsdag</label>
       <input type="number" id="fødselsdag" name="fødselsdag">
       <br>
       <br>
       <label for="tlf">Indtast telefon-nummer</label>
       <input type="number" id="tlf" name="tlf">
       <br>
       <br>
       <button type="submit">Opret</button>
   </form>
  
  

</body>
</html>