<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porteføljer</title>
    <link href="./portefoljer.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">

</head>
<body>
   <!--ejs til sidemenu-->
     <div class="sidemenu">
        <div class="WebappLogo">
            <img src="logo.jpeg" alt="WebappLogo">
        </div>
  
        <button class="pil" onclick="skiftMenu()">
            <i class='bx bxs-chevron-left'></i>
        </button>
  
        <ul>
            <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
            <li><a href="/konti"><i class='bx bxs-user-account'></i>Konti</a></li>
            <li><a href="/portefoljer"><i class='bx bxs-doughnut-chart'></i>Porteføljer</a></li>
        </ul>
    </div>
      
    <script>
      const sidemenu = document.querySelector('.sidemenu');
        function skiftMenu() { 
         sidemenu.classList.toggle('lukket');
        }
    </script>

</body>
</html>