<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Søgeresultater</title>
  <link href="/searchAndBuy.css" rel="stylesheet"> <!-- Hvis du har styling -->
</head>
<body>

<h1>Resultat for din søgning</h1>

<!--container til søgeresultater-->
<div class="indhold">
    <% if (matches.length > 0) { %> <!--tjekker om arrayet indeholder resultater-->
      <ul> <!--starter en liste over resultater-->
        <% matches.forEach(match => { %> <!--gennemløber hver match i arrayet-->
         
          <div class="liste"> <!--en liste for hvert fundet værdipapir-->
            <li>Navn: <%= match['2. name'] %></li><br> <!--viser navnet-->
            <li>Symbol: <%= match['1. symbol'] %></li><br> <!--viser symbolet-->
            <li>Region: <%= match['4. region'] %> </li><br> <!--viser regionen aktien tilhører-->
        </div>
        <% }); %>
      </ul>
    <% } else { %>
      <p>Ingen resultater fundet.</p> <!--hvis ingen matches findes-->
    <% } %>
</div>
</body>
</html>
