<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Søgeresultater</title>
  <link href="/searchAndBuy.css" rel="stylesheet"> <!-- Hvis du har styling -->
</head>
<body>

<h1>Resultat for din søgning</h1>

<!--container til søgeresultater-->
<div class="indhold">
    <% if (result) { %>
      <ul>
          <div class="liste">
            <li>Navn: <%= result.name %></li><br>
            <li>Symbol: <%= result.symbol %></li><br>
            <li>Aktiekurs: <%= (result.price * 6.95).toLocaleString("da-DK", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> DKK</li>
        </div>
      </ul>
    <% } else { %>
      <p>Ingen resultater fundet.</p>
    <% } %>
</div>

<div class="køb">
    <a href="/registrerHandel/<%= result.symbol %>">Køb aktie</a> <!--Tager fat i den aktie man er inde på -->
</div>


</body>
</html>



