
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Opret bruger</title>
      <link href="./tilfojKonto.css" rel="stylesheet">
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">

   </head>
   <body>
      <div class="opretKonto">
         <h2>Opret konto</h2>
         <form action="/tilfojKonto" method="POST"> <!--definere hvilken rute formularen skal sendes til-->
            
            <div class="opretBox">
               <input type="text" placeholder="Kontonavn" name="Kontonavn" required>
            </div>
            
            <div class="opretBox">
               <input type="text" placeholder="Valuta" name="Valuta" required>
            </div>
      
            <div class="opretBox">
               <input type="text" placeholder="Bankreference" name="Bank" required>
            </div>
      
            <div class="opretBox">
               <input type="password" placeholder="adgangskode" name="adgangskode" required>
            </div>
      
            <div class="opretBox">
               <input type="email" placeholder="E-mail" name="e-mail" required>
               <i class='bx bxs-envelope'></i>
            </div>
      
            <div class="opretBox">
               <input type="text" placeholder="Fødselsdagsdato YYYY-MM-DD" name="fødselsdag" required>
            </div>
      
            <div class="opretBox">
               <input type="tel" placeholder="Telefon nummer" name="telefonnummer" required>
               <i class='bx bxs-phone' ></i>
            </div>
      
            
            <button id="sendFormular" type="submit">Opret</button>
            <br>
      
            <div class="logo">
               <img src="logo.jpeg" alt="WebappLogo">
             </div>

         </form>
      </div>
   </body>
</html>

</html
