<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Opret bruger</title>
      <link href="./tilfojKonto.css" rel="stylesheet">

   </head>
   <body>
      <div class="opretKonto">
            <h1>Opret ny konto</h1>
            <form action="/tilfojKonto" method="POST"> <!--definere hvilken rute formularen skal sendes til-->
               
               <div class="opretBox">
                  <input type="text" placeholder="Konto navn" name="navn" required>
               </div>
               
               <div class="opretBox">
                  <input type="number" step="0.01" placeholder="Saldo" name="Saldo" required>
                 
               </div>
         
               <div class="opretBox">
                  <input type="text" placeholder="Valuta" name="valuta" required>
               </div>

               <div class="opretBox">
                  <input type="date" placeholder="Dato" name="dato" required>
               </div>
        
               <div class="opretBox">
                  <input type="text" placeholder="Bankreference" name="bankreference" required>
               </div>
               <button id="sendFormular" type="submit">Opret</button>
               
    
            </form>
         </div>
            
      
            
           

         </form>
      </div>
   </body>
</html>