<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indsæt Værdi</title> 
  <link href="/withdrawValue.css" rel="stylesheet">
</head>

<body>
  <!--container til hævning af værdi, hvor hele formularen til hævning er indkapslet-->
  <div class="opretRemove">
    <h1>Hæv værdi på <br> <%=konto.kontonavn %> </h1> 

    <!--formularen der sender en POST-anmodning til serveren for at hæve penge-->
    <form action="/konto/withdraw" method="POST">

      <!--skjult input, der gemmer kontoID som er nødvendigt for serveren at identificere, hvilket konto hævelsen gælder for-->
      <input type="hidden" name="kontoID" value="<%= konto.kontoID %>"> 

      <!--input felter, der er påkrævet for at hæve beløbet-->
      <div class="opretBox">
        <input type="number" placeholder="Beløb" name="beløb" required>
      </div>

      <div class="opretBox">
        <input type="text" placeholder="Valuta" name="valuta" required>
      </div>

      <button id="sendFormular" type="submit">Hæv</button>
    </form>
  </div>
</body>
</html>
