<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indsæt Værdi</title>
  <link href="/removeValue.css" rel="stylesheet">
</head>

<body>
  <!--container til hævning af værdi-->
  <div class="opretRemove">
    <h1>Hæv værdi på <br> <%=konto.kontonavn %> </h1> <!--overskrift der viser hvilken konto der hæves fra-->

    <form action="/konto/withdraw" method="POST">

    <input type="hidden" name="kontoID" value="<%= konto.kontoID %>"> <!--skjult input felt, sender konto ID så serevren ved hvilken konto beløbet skal indsættes på-->
    <input type="hidden" name="porteføljeID" value="<%= konto.porteføljeID %>">
    
      <div class="opretBox">
        <input type="number" placeholder="Beløb" name="beløb" required>
      </div>

      <div class="opretBox">
        <input type="text" placeholder="Valuta" name="valuta" required>
      </div>

      <button id="sendFormular" type="submit">Hæv</button>
    </form>
  </div>
</body>
</html>
