
body {
  background-color: black;
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  margin-left: 250px;
}

.indhold {
  margin-left: 100px; 
  padding: 10px; 
}

.øvreBoks {
  display: flex; 
  gap: 20px; 
  margin-bottom: 20px; 
  margin-left: 250px;
  width: 1020px;
  height: 100px;
}

.mindreBoks {
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  padding: 10px;
  flex: 1;
  min-height: 100px;

}

.grafBoks {
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  padding: 10px; 
  margin-bottom: 20px;
  height: 300px;
  width: 1000px;
  margin-left: 250px;
  margin-top: 40px;
}

.nedreBoks {
  display: flex; 
  gap: 20px; 
  margin-bottom: 20px; 
  margin-left: 250px;
  width: 1020px;  
  height: 300px;
}

.lilleBoks {
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 20px;
  flex: 1;          /* fylder halvdelen automatisk */
  height: 300px;
}


/* css side menu */
.sidemenu {
position: fixed;
left: 0;
top: 0;
width: 200px;
height: 100%;
background-color: #161515;
padding: 20px;
display: flex;
flex-direction: column;
align-items: left;
gap: 10px;
transition: 0.5s;
}

.sidemenu img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0;
margin-bottom: 0;
}

ul {
padding: 3px;
}

ul li {
list-style: none;
}

ul li a {
color: rgba(255, 255, 255, 0.544);
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0;
display: block;
text-decoration: none;
font-size: 14px;
transition: 0.2s ease-out;
}

.sidemenu :hover{
color: #ffffff;
}

ul li a i {
width: 50px;
text-align: center;
padding-right: 10px;
font-size: 26px;
}

.logUd li a{
margin-top: 450px;
}

button.pil {
position: absolute;
top: 40px;
left: 220px;
background: rgb(46, 46, 46);
border-radius: 50px;
border: none;
color: rgba(245, 241, 241, 0.796);
font-size: 30px;
cursor: pointer;
transition: 0.3s ease-in-out;
}

.sidemenu.lukket {
left: -220px; /* Skub siden helt uden for skærmen */
width: 0;
}

/*css til boks med top 5 værdipapirer baseret på værdi*/

.top5-header, .top5-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.top5-header {
  font-weight: bold;
  color: #bbb;
}

.top5-row:last-child {
  border-bottom: none;
}

.kolonne {
  flex: 1;
  text-align: left;
}

.positiv {
  color: #4caf50; /* grøn */
}

.negativ {
  color: #f44336; /* rød */
}