body{
    background-color: black;
}

img{
    width: 225px;
    height: auto;
}

.sidemenu {
    position: fixed;
    left: 5px;
    top: 0px;
    width: 150px;
    height: 100%;
    background-color: #212121;
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 0px;
  }
  
  .WebappLogo img {
    width: 180px;
    object-fit: contain;
  }
  
  .Menu {
    list-style: none;
    padding: 0;
    width: 160px;
  }
  
  .Menu li {
    margin-bottom: 15px;
    width: 150px;
  }
  
  .Menu i{
    color: white;
    display: flex;
    text-align: center;
    margin-right: 10px;
  }

  .Menu a {
    color: #cccccc;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    padding: 13px 16px;
    display: block;
    border-radius: 8px;
    transition: 0.5s;
    align-items: center;
  }
  
  .Menu a:hover {
    background-color: #2f2f2f;
    color: #fffffff6;
  }
  
  .Menu a.active {
    font-weight: bold;
    color: white;
  }
