 
body {
  background-color: black;
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

 /* CSS til indhold*/
.indhold {
  margin-left: 100px; 
  padding: 10px; 
}

.øversteIndhold{
  display: flex;
  gap: 20px;
  margin-left: 250px;
  margin-bottom: 20px;
}

.venstreØvreBoks {
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 20px;
  width:450px; 
  height: 100px;
  display: flex;
  gap: 40px;
}

.ændringer {
  line-height: 1.8; 
  gap: 50px;
  line-height: 2.8;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 20px;
  width:450px; 
  height: 100px; 
  display: flex;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.grøn {
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.højreØvreBoks {
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 20px;
  width: 470px; 
  height: 260px; 
  margin-bottom: 20px;
}

.venstreSide{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-bottom: 20px;
}

.overskrift {
  margin-left: 250px;
  margin-bottom: 10px;
}

.knapBox {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-right: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; /*hvis de ikke kan være på en linje, rykkes de pænt ned*/
}

.tilføjKnapBox {
  display: flex;
  justify-content: flex-end; 
  margin-right: 317px; 
  margin-bottom: 20px;
}

.tilføjKnap {
  background-color: rgb(31, 31, 31);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: background-color 0.3s;
  display: inline-block;
}

.tilføjKnap:hover {
  background-color: #656363;
}


/* CSS til side menu */
.sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #161515;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  transition: 0.5s;
}

.sidemenu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 0;
}

ul {
  padding: 3px;
}

ul li {
  list-style: none;
}

ul li a {
  color: rgba(255, 255, 255, 0.544);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease-out;
}

.sidemenu :hover{
  color: #ffffff;
}

ul li a i {
  width: 50px;
  text-align: center;
  padding-right: 10px;
  font-size: 26px;
}

.logUd li a{
  position: absolute;
  bottom: 40px;
  left: 20px;
  }

button.pil {
  position: absolute;
  top: 40px;
  left: 220px;
  background: rgb(46, 46, 46);
  border-radius: 50px;
  border: none;
  color: rgba(245, 241, 241, 0.796);
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sidemenu.lukket {
  left: -220px; 
  width: 0;
}

.oversigtBox {
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 20px;
  width: 980px; 
  height: 350px; 
  margin-left: 250px;
}

.listeOverskrifter, .porteføljeRække {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px; 
  padding: 12px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #333;
  align-items: center;
  color: rgb(213, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
}

/*CSS til indhold på siden*/
.porteføljeRække {
  font-size: 13px;
  border-radius: 5px;
  text-decoration: none;
}

.porteføljeRække:hover{
  background-color: #656363;
  font-size: 15px;
}

.porteføljeRækkeLink{
  text-decoration: none;
  color: rgb(213, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
}

