body {
    background: url("baggrund2.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .sælgVærdipapir {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    margin-top: 80px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }
  
  .sælgVærdipapir h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
 
  .opretBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .opretBox label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ddd;
  }

  .opretBox input,
  .opretBox select {
    height: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #120f51;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
  }
  
  .opretBox input:focus,
  .opretBox select:focus {
    border-color: #1c1c1c;
    outline: none;
    background-color: transparent;
  }
  
  #sendFormular {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: #05052b;
    color: rgb(255, 253, 253);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;

  }
  
  #sendFormular:hover {
    background-color: #0f0c38; 
  }

  .speciel {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 29px;
  }
  
  .speciel label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #dddddd;
    text-align: center;
  }
  
  .speciel input {
    width: 20%; 
    text-align: center;
    height: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #120f51;
    background-color: #120f51;
    color: #fff;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  

  